.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
}
body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
}

.post {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.btn {
    margin: 10px 10px;
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.bin {
    position: absolute;
    right: 40px;
}